/*---------------
    Reset
---------------*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/*---------------
     General
---------------*/ 
 .head-top > * {
    padding: 2px 0;
} 

.logo, .link, .login {
    border:black 1px dashed;
    margin: 10px 0;
}


/*---------------
     Header
---------------*/   

.container-top {
    background-color: #add8e6;
}

.container {
    display: flex;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.logo, .login{
    width: 20%;
}

.link {
   width: 60%;
   text-align: center;
}

.login {
   text-align: right;
}


.container-bottom {
    background-color: #00008b;
}

.hed-bottom {
    padding: 20px 0;
    justify-content: center;
}

.hero {
    width: 900px;
    min-height: 400px;
    background-color: #ee82ee;
    border: black 1px dashed;
}

/*---------------
      Main
---------------*/
/* Section Related  */

.col-big, .col-small, .qr-app {
    margin: 20px 0;
    border: black 1px dashed;
}

.col-big {
    width: 60%;
    min-height: 500px;
    background-color: #1e90ff;
}

.col-small {
    width: 40%;
    min-height: 500px;
    background-color: #ffc0cb;
}

/* Work with us  */

.work-with-us, .download-app {
    background-color: #d3d3d3;
}

/* Codice QR for APP  */

.qr-app {
    width: 1200px;
    min-height: 900px;
    background-color: #228b22;
}


